
div {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
button {
    background-color: white;
    border-radius: 25px;
    height: 7vh;
    width: 15vw;
    font-size: large;
    font-weight: bold;
    box-shadow: 0px 2px 5px red;
    transition: linear 0.25s ;
}
button:hover {
    background-color: gray;
    box-shadow: 0px 2px 2px rgb(159, 158, 158);
    height: 8vh;
    width: 16vw;
    font-size: larger;
}
.button-fix {
    min-height: 15vh;
    max-height: 15vh;
}
h2 {
    font-weight: bolder;
    color: tomato;
}
.button-menu {
    display: flex;
    flex-direction: row;
    gap: 5vw;
}
.opacity {
    opacity: 0%;
}
p {
    font-weight: bold;
    color: red;
}